<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description | escape }}">
  <link rel="icon" href="{{ '/assets/img/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

<script defer data-domain="amir-ivry.github.io" src="https://plausible.io/js/script.file-downloads.outbound-links.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

</head>
